<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我是天才</title>
</head>
<body>

{#<a href="/add/4/3/">计算 4+3</a>#}
<a href="{% url 'add2' 4 5 %}">link</a>
欢迎天才
{#{{ string }}#}
{#{% for i in TutorialList %}#}
{#{{ i }}#}
{#{% endfor %}#}
{#站点：{{ info_dict.site }} 内容：{{ info_dict.content }}#}
{#{% for key, value in info_dict.items %}#}
{#    {{ key }}:{{ value }}#}
{#{% endfor %}#}
{% for item in List %}
    {{ item }}{% if not forloop.last %},{% endif %}
{% endfor %}
{% url 'add2' 4 5 as the_url %}
<a href="{{ the_url }}">连接到 {% url 'add2' 4 5 %}</a>
{#    {% if '55' in List %}#}
{#        55在名单中#}
{#    {% endif %}#}
{{ request.path }}
{#{{ request.GET.urlencode }}#}
</body>
</html>