<!DOCTYPE html>
<html lang="en">
<head>
<title>ECharts</title>
  <meta charset="utf-8">
  <!-- 引入 ECharts 文件 -->
  <script src="/static/js/echarts.js"></script>
</head>
<body>
  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
  <div id="main" style="width: 600px;height:400px;"></div>
  <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));

      var arr = new Array();
      var index = 0;
      {#<c:forEach items="${goodsList}" var="goods">#}
      {#    arr[index++] = ${goods.sales};#}
      {#</c:forEach>#}

      {% for i in goods_list %}
        arr[index++] = {{ i.sales }}
      {% endfor %}

      // 指定图表的配置项和数据
      var option = {
          title: {
              text: 'ECharts 入门示例'
          },
          tooltip: {
              show: true
          },
          legend: {
              data:['销量']
          },
          xAxis : [
              {
                  type : 'category',
                  data : [
                      {#<c:forEach items="${goodsList}" var="g">#}
                      {#["${g.name}"],#}
                      {#</c:forEach>#}
                      {% for i in goods_list %}
                        '{{ i.name }}',
                      {% endfor %}
                  ]
              }
          ],
          yAxis : [
              {
                  type : 'value'
              }
          ],
          series : [
              {
                  name:'销量',
                  type:'bar',
                  data: arr
              }
          ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
  </script>
  </body>
</html>