body{
	background-color: #E5E5E5;
}
.session {
	margin-top: 15px;
	padding-top: 15px;
	padding: 15px;
	border: 1px solid #d8d8d8;
	background-color: #fff;
	border-top-width: 1;
	border-bottom-width: 2px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}