<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>left</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<!-- left navbar start -->
	<div style="padding:0px;" class="session" id="navleft">
		<ul class="nav nav-list ">
			<li class='active'>
				<a href="#" class="dropdown-toggle">
					<i class="icon-search"></i>
					<span class="menu-text">可视化界面</span>
					<b class="arrow icon-angle-down"></b>
				</a>
				<ul class="submenu">
                    <li>
						<a href="/expsaln">
							<i class="icon-double-angle-right"></i>
                            不同经验薪资分布
						</a>
					</li>
					<li>
						<a href="/edusaln">
							<i class="icon-double-angle-right"></i>
                            不同学历薪资分布
						</a>
					</li>
					<li>
						<a href="/workedun">
							<i class="icon-double-angle-right"></i>
                            不同地点学历分布
						</a>
					</li>
                    <li>
						<a href="/fieldn">
							<i class="icon-double-angle-right"></i>
							公司行业分布
						</a>
					</li>
                    <li>
						<a href="/attributen">
							<i class="icon-double-angle-right"></i>
							公司性质分布
						</a>
					</li>
                    <li>
						<a href="/sizen">
							<i class="icon-double-angle-right"></i>
							公司规模分布
						</a>
					</li>
					<li>
						<a href="/compn">
							<i class="icon-double-angle-right"></i>
							发布岗位最多的公司
						</a>
					</li>
                    <li>
                        <a href="/workn">
                            <i class="icon-double-angle-right"></i>
                            各个城市的公司数量
                        </a>
                    </li>
					<li>
						<a href="/posin">
							<i class="icon-double-angle-right"></i>
							需求最高的十个岗位
						</a>
					</li>
                    <!-- <li>
						<a href="../1/s5.jsp">
							<i class="icon-double-angle-right"></i>
							每月流失用户
						</a>
					</li> -->
				</ul>
			</li>
		</ul><!-- /.nav-list -->
	</div>
	
	<!-- left navbar end -->
</body>
</html>